* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}


html {
    font-size: 62.5%; /* Define 1rem como 10px */
}

h1 {
    text-align: left;
    margin: 15px;
    font-size: 1.5rem;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: left; /* Alinha o texto à esquerda */
    margin: 10px;
    font-size: 1.5rem;
    color: #000000;
    font-family: 'Roboto', light sans-serif;
    font-weight: 300;
}

header {
    background-color: #7A93C0;
    display: flex; /* Torna o header um contêiner flexível */
    flex-direction: row; /* Alinha os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Espaça os itens uniformemente */
    padding: 20px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra para destaque */
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Torna a logo circular */
    object-fit: cover;
    background-color: white;
}

header nav ul {
    display: flex; /* Alinha os links horizontalmente */
    flex-direction: row;
    gap: 20px; /* Espaçamento entre os links */
    list-style: none; /* Remove os marcadores da lista */
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none; /* Remove o sublinhado */
    font-size: 1.6rem;
    font-weight: bold;
    transition: color 0.3s ease; /* Adiciona uma transição suave ao passar o mouse */
}

header nav ul li a:hover {
    color: #87CEFA; /* Altera a cor ao passar o mouse */
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #347fdc;
    padding: 10px;
}

.hero img {
    max-width: 30vw;
    float: right;
    border-radius: 10px;
    padding-left: 5px;
}

.hero h2 {
    text-align: left; /* Alinha o texto à esquerda */
    padding: 5% 0;
}

.hero p {
    text-align: left; /* Alinha o texto à esquerda */
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.button-container {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Organiza os botões em coluna */
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 15px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaçamento superior */
}

.button {
    display: inline-block; /* Faz o botão se comportar como um elemento inline com dimensões */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    font-size: 1.6rem; /* Define o tamanho da fonte */
    color: white; /* Cor do texto */
    background-color: #093587; /* Cor de fundo */
    border: none; /* Remove bordas */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer; /* Mostra o cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave ao passar o mouse */
}

.button:hover {
    background-color: #4169e1; /* Cor de fundo ao passar o mouse */
}